.interests {
  background-color: var(--primary);
  color: var(--secondary);
  justify-content: center;
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.interests .item {
  padding: 2rem 0;
  border-bottom: 1px solid var(--sub);
}

.interests .logo {
  height: 40px;
  margin-top: 1rem;
  filter: invert();
}
