.skills {
  background-color: var(--card);
  padding: 1rem 2rem;
  border: 1px solid var(--headline);
  border-radius: 15px;
}

.skills .logos img {
  margin: 1rem;
  height: 3rem;
  object-fit: contain;
}
